*{
    margin: 0;
    padding: 0;
}
.section-padding{
    padding-top: 180px;
}
/* banner section */
.banner{
    background-image:url(images/banner/banner2.png);
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 700px;
    padding-top: 80px;
    
}
.banner-text{
    padding: 100px;
    max-width: 600px;
}
.banner-text h1{
    
    color: #151414;
    font-size: 65px;
    font-family: Work Sans;
    font-weight: 700;
    word-wrap: break-word
}
.banner-text p{
    color: #444343;
font-size: 16px;
font-family: Work Sans;
font-weight: 400;
line-height: 26px;
word-wrap: break-word;
}
.button{
    padding-bottom: 100px;
    margin: 10px 100px;
}

.btn-primary{
    margin-left: 400px;
    text-align: center;
    border: 0;
    background-color: #F15B22;
    padding: 13px 18px;
    color: white;
    border-radius: 5px;
font-size: 20px;
font-family: Work Sans;
font-weight: 600;
word-wrap: break-word
}

/* main section */
/* my previous failure section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.failures{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.description{
    max-width: 400px;
    
}
.text{
    margin: 24px 0 px 16px 0px;
    color: #444343;
font-size: 16px;
font-family: Work Sans;
font-weight: 400;
line-height: 26px;
word-wrap: break-word
}
.description h1{
    color: #151414;
font-size: 40px;
font-family: Work Sans;
font-weight: 700;
word-wrap: break-word;
margin: 20px;
}
.description p{
    color: #444343;
font-size: 16px;
font-family: Work Sans;
font-weight: 400;
line-height: 26px;
word-wrap: break-word;
}
/* .my-image{
    background: rgba(241, 91, 34, 0.20); 
     border-radius: 9999px; 
} */

/* My plans section */
.my-plans{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    max-width: 1000px;
    margin: 0 auto;
    padding-left:  60px;
    /* padding-left: 30px; */
}
.title{
    text-align: center;
    color: #151414;
font-size: 40px;
padding-bottom:  50px;
font-family: Work Sans;
font-weight: 700;
word-wrap: break-word;
}
img{
    max-width: 100%;
    min-height: 100%;
    padding-left: 50px;
}
#image{
    max-height: 60px;
    max-width: 60px;
    

}

.my-plans{
    margin-left: 30px;
}
.plan{
    padding: 5px;
    
    width: 500px;height: 400px;
    margin: 10px;
}
.plan h3{
color: #151414;
font-size: 22px;
font-family: Work Sans;
font-weight: 700;
word-wrap: break-word;
margin-top: 31px;
margin-bottom: 16px;
}
.plan p{
    padding-left: 15px;
color: #737272;
font-size: 18px;
font-family: Work Sans;
font-weight: 500;
word-wrap: break-word;
}
.edit{
    margin-left: 30px;
}
.positive-mindset{
    position: relative;
    margin-bottom: 100px;
}
.mindset-text{
    background-image: linear-gradient(to right,rgba(134, 55, 24, 0.777),rgba(121, 104, 92, 0)),url(images/watch.png);
    background-repeat: no-repeat;
    padding: 80px;
    margin: auto;
     border-radius: 8px;
    
}
.mindset-text h2{
    max-width: 600px;
    color: white;
    margin-bottom: 10px;
font-size: 40px;
font-family: Work Sans;
font-weight: 700;
word-wrap: break-word;
}
.call-now{
    background-color: white;
    padding: 10px 20px;
    color: #F15B22;
font-size: 20px;
font-family: Work Sans;
font-weight: 600;
word-wrap: break-word;
border: 0;
border-radius: 2px;
}
.my-intro{
    background-image: linear-gradient(to right,rgba(216, 80, 27, 0.777),rgba(229, 161, 94, 0));
    padding: 80px;
    margin: auto;
     border-radius: 8px;
     color: #F8F8F8;

}
.my-intro h2 h3{
    font-size: 30px;
}
.my-intro p{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* future section */
footer{
    background-color: #151414;
}
.footer-wraper{
   
    max-width: 540px;
}

.future{
    color: #F8F8F8;

font-family: Work Sans;
font-weight: 700;
word-wrap: break-word;
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    
}
.future-title{
    padding-left: 45px;
font-size: 45px;
font-family: Work Sans;
font-weight: 700;
word-wrap: break-word;
padding-bottom: 16px;

}
.future-description,.future-email,.future-phone{
    padding-left: 45px;
    
font-size: 16px;
font-family: Work Sans;
font-weight: 400;
line-height: 26px;
word-wrap: break-word;
}
.future-icons{
    padding-top: 20px;

}
input{
    height: 50px;
}
.email{
    background-color: #151414;
    padding-left: 50px;
    width: 100%;
    border: 1px white solid;
}
.subscribe{
    margin-top: 10px;
    border-radius: 5px;
}